@import url("./util-text.css");

* {
  box-sizing: border-box;
}

:root {
  --font-family: system-ui;
  color-scheme: light dark;
  --primary-blue: #000080;
  --light-clr: #ffffff;
  --primary-purple: #6666b3;
  --primary-sky-blue: #1d98f0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  line-height: 1.5;
}

body.over-hidden {
  overflow-y: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: calc(100% - 70px);
  top: 70px;
  left: 0;
  background-color: hsla(0, 0%, 10%, 0.7);
  z-index: 999;
  backdrop-filter: blur(12px);
  display: none;
}

.overlay.visible {
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: end;
}

.flex-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-scroll {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.flex-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gp-5 {
  gap: 5px;
}

.gp-7 {
  gap: 7px;
}

.gp-10 {
  gap: 10px;
}

.gp-15 {
  gap: 15px;
}

.gp-20 {
  gap: 20px;
}

.w-100 {
  width: 100%;
}

.pos-rel {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea {
  border: none;
  font-family: var(--font-family);
}

input[type="radio"],
input[type="checkbox"] {
  outline: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* Removes the tap highlight on mobile */
}

button:active {
  scale: 0.5;
  transition: scale 1s ease;
}

input:focus-within,
input:focus-visible,
select:focus-within,
select:focus-visible,
textarea:focus-within,
textarea:focus-visible {
  outline: 2px auto var(--btn-clr);
  /* border: none; */
}

h2,
h3,
h4,
p {
  margin: 5px 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

svg {
  width: 20px;
  height: 20px;
}

svg path {
  width: 100%;
  height: 100%;
}

.page {
  min-height: 100vh;
}

nav {
  position: sticky;
  top: 0;
  height: 70px;
  background: white;
  right: 0;
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 10%, 0.2);
  z-index: 9999;
  padding: 10px 30px;
}

nav div.nav {
  padding: 10px 40px;
  height: 100%;
  position: relative;
}

nav div.nav.flex-between {
  align-items: center;
}

a.logo-container {
  text-decoration: none;
  color: black;
}

.logo-img {
  width: 60px;
  height: 60px;
}

.logo-text {
  width: 120px;
  height: 30px;
}

.down-arrow {
  width: 15px;
  height: 15px;
  transform: translateY(2px);
}

.cs-p {
  cursor: pointer;
}

.search-util-wrapper {
  width: 45%;
}

.search-bar-container {
  width: 80%;
}

.search-bar {
  width: 100%;
  padding: 7px 12px;
  border-radius: 50px;
  border: 1px solid hsl(0, 0%, 10%);
}

.search-input {
  font-size: 1rem;
  width: 90%;
  background-color: transparent;
}

.filter-cta {
  background-color: var(--primary-blue);
  border-radius: 50px;
  padding: 7px 15px;
  cursor: pointer;
  margin-left: -40px;
}

.filter-cta-text {
  color: var(--light-clr);
  font-weight: 500;
  font-size: 1.25rem;
}

.filter-cta-arrow {
  transform: translateY(2px);
}

.filter-cta-arrow svg path {
  fill: var(--light-clr);
}

.bell-icon svg,
.more-icon svg {
  width: 25px;
  height: 25px;
}

.profile-pic {
  width: 38px;
  height: 38px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.user-profile-name {
  font-size: 1.1rem;
  color: var(--primary-blue);
  font-weight: 500;
}

.mobile.nav-links-container {
  position: fixed;
  top: 70px;
  right: 0;
  min-width: 250px;
  max-height: calc(100dvh - 130px);
  height: calc(100dvh - 130px);
  padding: 0px 0px 20px;
  background-color: hsla(0, 0%, 98%, 0.8);
  backdrop-filter: blur(10px);
  display: none;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  z-index: 9999;
  overflow-y: auto;
}

.mobile.nav-links-container.slideIn {
  transform: translateX(0);
}

.mobile.nav-links-container a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
}

.mobile.nav-links-container a:hover {
  width: 100%;
  background-color: hsl(0, 0%, 55%);
  border-radius: 0px;
}

.nav-links-container a {
  font-weight: 500;
  font-size: clamp(0.85rem, 2.5vw, 1rem);
  padding: 10px 15px;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.nav-links-container a:hover {
  background-color: hsl(0, 0%, 95%);
}

.hamburger {
  width: 25px;
  height: 25px;
}

.hamburger span {
  height: 2px;
  width: 100%;
  background-color: hsl(0, 0%, 10%);
}

.mobile.hamburger {
  cursor: pointer;
  display: none;
}

.mobile.hamburger span:nth-of-type(2) {
  width: 80%;
}

.mobile.hamburger span:nth-of-type(3) {
  width: 70%;
}

.login-link {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0 0% 98%);
  padding: 7px 30px;
  border-radius: 10px;
  letter-spacing: 1px;
  /* margin: 0px 20px 0px; */
}

.reveal {
  display: block;
}

/* Map css */

.map-wrapper {
  position: relative;
}

#map {
  height: 600px;
  width: 100%;
}

.info-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.info-wrapper.flex {
  align-items: start;
}

.info-box-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-box {
  background-color: var(--primary-purple);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 3px solid hsla(0, 0%, 100%, 0.77);
  width: 200px;
  text-align: center;
  border: 2px solid white;
  color: white;
  align-items: center;
}

.last-month {
  background-color: var(--primary-sky-blue);
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 0px #00000040;
  border: 1px solid var(--light-clr);
}

.last-month-val {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--light-clr);
}

.last-month-arrow svg {
  width: 25px;
  height: 25px;
}

.last-month-arrow svg path {
  fill: var(--light-clr);
}

.left-box {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: 3px solid var(--primary-purple);
  color: var(--primary-purple);
  margin-left: 20px;
}

.risk-marker {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.warning-icon {
  width: 16px;
  height: 16px;
  fill: white;
}
.total {
  position: relative;
  font-weight: 500;
  font-size: 0.875rem;
  top: 10px;
  letter-spacing: 0.3px;
}

.pat {
  position: relative;
  top: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}
.dot {
  text-align: center;
  font-weight: 500;
}
.dot1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

/* div.leaflet-control-zoom{
  position: absolute;
  bottom : 10px;
  right : 20px;
} */

.leaflet-control-container {
  position: absolute;
  bottom: 90px;
  right: 50px;
}

.leaflet-popup-content {
  margin: 0;
  min-width: 440px !important;
}

.popup-div {
  overflow: hidden;
}

.continent-risk-container {
  padding: 20px 30px;
}

.continent-flag {
  width: 60px;
  height: 40px;
}

.continent-desc-container {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-clr);
}

.continent-span,
.continent-name {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(0deg 0% 10%);
}

.head-div .continent-name {
  font-size: 1.25rem;
  color: var(--light-clr);
  font-weight: 500;
}

.dash-span {
  border: 3px solid black;
  width: 50px;
  height: 0.8px;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 50px;
  right: 25px;
  background-color: var(--primary-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--light-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.risk-desc-wrapper {
  margin-top: 20px;
}

.triangle-div {
  width: 115px;
  height: 30px;
  background-color: var(--light-clr);
  border-radius: 10px;
}

.risk-graphics {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.risk-desc-container {
  min-width: 200px;
  align-self: end;
}

.risk-desc-container h5,
.threats-container h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

.risk-desc-container p,
.threats-container p {
  font-size: 1rem;
  font-weight: 500;
  margin: 10px 0px 0px;
}

.risk-count-container {
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: var(--light-clr);
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  min-width: 115px;
}

.fw-500 {
  font-weight: 500;
}

.risk-count-val,
.risk-count-head {
  font-size: 1.2rem;
  margin: 0px !important;
}

.threats-container {
  margin-top: 20px;
}

.sector-el-container {
  background-color: hsl(0, 0%, 95%);
  padding: 5px 10px;
}

.sector-el {
  padding: 7px 12px;
  border-radius: 10px;
  color: black;
  background-color: var(--light-clr);
  flex: 1;
  min-width: fit-content;
  cursor: pointer;
}

.sector-el.all {
  position: relative;
}

.sector-el.own {
  background-color: var(--primary-purple);
  color: var(--light-clr);
}

.cancel-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--primary-purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-icon svg {
  width: 12px;
  height: 12px;
}

.sectors-dropdown {
  background-color: var(--light-clr);
  position: absolute;
  top: 120%;
  left: 0;
  transform: translateY(20px);
  opacity: 0.5;
  z-index: 1001;
  padding : 10px;
  border-radius: 10px;
}

.sectors-dropdown.anim {
  transform: translateY(0px);
  opacity: 1;
  transition: transform .3s ease;
}

.dropdown-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid #33333380;
  border-radius: 12px;
  padding: 7px 12px;
}

.dropdown-search-bar input {
  width: 90%;
  font-size: 1rem;
  color: #000000;
}

.search-icon {
  width: 15px;
  height: 15px;
}

.dropdown-item {
  padding: 10px;
}

.add-sector-cta {
  background-color: var(--primary-blue);
  color: var(--light-clr);
  padding: 4px 35px;
  border-radius: 30px;
  transition: transform 0.2s ease;
}

.add-sector-cta:active {
  transform: scale(0.8);
}

.public-cta,
.private-cta{
  padding : 10px;
  font-size : 1.1rem;
  width : 47%;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.public-cta{
  background-color: var(--primary-blue);
  color : var(--light-clr);
}

.private-cta{
  background-color: hsl(0, 0%, 95%);
  color: black;
}

/* Map css */

@media (max-width: 900px) {
  .nav-links-container {
    display: none;
  }

  .mobile.nav-links-container {
    display: block;
  }

  .mobile.hamburger {
    display: flex;
  }

  nav div.nav {
    padding: 10px 15px;
  }
}
